body {
    margin: 0;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    --top-menu-height: 50px;
    min-height: 100vh;
}


::-webkit-scrollbar {
    width: 10px;
    padding: 0 1px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 15px;
    padding: 0 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ababab;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito Sans';
    src: local('Nunito Sans'), url('../../public/fonts/Nunito/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
}

* {
    font-family: 'Nunito Sans', 'Montserrat', sans-serif;
    letter-spacing: -0.03rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    top: var(--top-menu-height);
}

.content-container {
    width: 1280px;
    margin: 0 0 35px 0;
}

.decorate-container {
    box-shadow: rgb(245, 245, 245) 0 0 0 1px,
                rgb(239, 239, 239) 0 5px 5px 0;
    border-radius: 10px;
    padding: 15px 20px 35px;
    overflow: hidden;
}

ul {
    margin: 0;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.error-message {
    color: #ff3c3c;
    font-size: .85rem;
}

.flex-direction-column {
    flex-direction: column;
}


.bg-main {
    width: 100%;
    height: 100vh;
    background-size: cover !important;
}

.bg-filter {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(300deg, #11294e, #1f0a1e);
    opacity: 0.8;
}

.promo-block {
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    position: absolute;
}

.promo-title {
    color: #fff;
    font-weight: 600;
}

.promo-description {
    color: #fff;
}

.promo-block  {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}

.promo-block .left-block{
    position: relative;
    height: fit-content;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promo-block .right-block{
    position: relative;
    flex: 1;
}

.content-container {
    overflow-x: hidden;
}

.incidents-container {
    display: grid;
    grid-gap: 15px;
}

.incidents-filter-panel {
    display: grid;
    grid-template-columns: 350px 300px;
    align-items: flex-end;
    overflow: hidden;
    justify-content: space-between;
}

#map-point-1 {
    position: absolute;
    top: -190px;
    left: 100px;
    transform: rotate(-12deg);
    width: 400px;
    height: 400px;
    opacity: 0.95;
}

#map-point-2 {
    position: absolute;
    top: 300px;
    left: 10px;
    transform: rotate(-30deg);
    width: 310px;
    height: 310px;
    filter: brightness(0.75);
    opacity: 0.95;
}

#map-point-3 {
    position: absolute;
    top: 90px;
    right: -100px;
    transform: rotate(30deg);
    width: 210px;
    height: 210px;
    filter: brightness(0.45);
    opacity: 0.95;
}

@media only screen and (max-width: 576px){
    .incidents-filter-panel{
        grid-template-columns: 100%;
        overflow: hidden;
    }

    .content-container {
        width: 100%;
        margin: 0 0 15px 0;
    }
}

@media only screen and (min-width: 576px) {
    .incidents-container {
        grid-template-columns: 410px;
    }

    .content-container {
        width: 100%;
    }
}


@media only screen and (min-width: 768px) {
    .incidents-container {
        grid-template-columns: 350px 350px;
    }

    .content-container {
        width: 98%;
    }
}

@media only screen and (max-width: 768px) {
    h2 {
        margin: 0 0 5px 0;
    }
    .incidents-filter-header {

    }

    .incidents-filter-item {
        margin: 10px 0;
    }

    .incidents-filter-panel {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .decorate-container {
        box-shadow: none;
        padding: 15px 20px 20px;
    }
}

@media only screen and (max-width: 1120px) {
    .d-none-1120 {
        display: none!important;
    }
}

@media only screen and (max-width: 1280px) {
    .d-none-1280 {
        display: none!important;
    }
}

@media only screen and (min-width: 1120px) {
    .incidents-container {
        grid-template-columns: 400px 400px;
    }

    .content-container {
        width: 1024px;
    }
}

@media only screen and (min-width: 1280px) {
    .incidents-container {
        grid-template-columns: 350px 350px 350px;
    }

    .content-container {
        width: 1120px;
    }

    .promo-block {
        width: 1120px;
    }

    .promo-map-point {
       scale: .7;
    }

    #map-point-2 {
        top: 150px;
    }

    #map-point-3 {

    }

}

@media only screen and (min-width: 1440px) {
    .incidents-container {
        grid-template-columns: 400px 400px 400px;
    }

    .content-container {
        width: 1280px;
    }

    .promo-block {
        width: 1280px;
    }

    #map-point-2 {
        top: 150px;
    }

    #map-point-3 {
        right: 0;
    }

    .promo-map-point {
        scale: .8;
    }
}

@media only screen and (min-width: 1600px) {
    .promo-block {
        width: 1440px;
    }

    .promo-map-point {
       scale: .9;
    }

    #map-point-2 {

    }

    #map-point-3 {

    }

    .promo-block {
        height: 450px;
    }

    .promo-title {
        font-size: 2.5rem;
        font-weight: 700;
    }

    .promo-description {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1920px) {
    .incidents-container {
        grid-template-columns: 400px 400px 400px 400px;
    }

    .content-container {
        width: 1720px;
    }

    .promo-block {
        width: 1280px;
        height: 600px;
    }

    #map-point-2 {
        top: 250px;
    }

    #map-point-3 {
        right: -100px;
    }

    .promo-title {
        font-size: 3.2rem;
        font-weight: 700;
    }

    .promo-description {
        font-size: 1.2rem;
    }
}